:host {
  --content-padding: 10px;
}

header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0 5px 25px var(--shadow-color);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: var(--content-padding);

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  width: 1200px;
}

.form-container {
  width: 100%;
}
