:host {
  --content-padding: 10px;
}

header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0 5px 25px var(--shadow-color);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: var(--content-padding);

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  width: 1200px;
}

.form-container {
  width: 100%;
}

.questions-container,
.loading-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    color: red;
  }
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
