<mat-form-field>
  <mat-label>Amount</mat-label>
  <input type="number" matInput [formControl]="formGroup.controls.amount" />
</mat-form-field>

<mat-form-field>
  <mat-label>Category</mat-label>
  <mat-select [formControl]="formGroup.controls.category">
    <mat-option value="">Any category</mat-option>
    @for (category of categories(); track category.id) {
      <mat-option [value]="category.id">{{ category.name }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Difficulty</mat-label>
  <mat-select [formControl]="formGroup.controls.difficulty">
    <mat-option [value]="">All difficulties</mat-option>
    <mat-option [value]="Difficulty.EASY">Easy</mat-option>
    <mat-option [value]="Difficulty.MEDIUM">Medium</mat-option>
    <mat-option [value]="Difficulty.HARD">Hard</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Question Type</mat-label>
  <mat-select [formControl]="formGroup.controls.questionType">
    <mat-option [value]="">All types</mat-option>
    <mat-option [value]="QuestionType.MULTIPLE_CHOICE">Multiple Choice</mat-option>
    <mat-option [value]="QuestionType.BOOLEAN">Boolean</mat-option>
  </mat-select>
</mat-form-field>

<button mat-stroked-button (click)="onSearchQuestions()">Get questions</button>
