<table mat-table [dataSource]="questions()" class="mat-elevation-z8">

    <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef>Question</th>
        <td mat-cell *matCellDef="let element"> {{ element.question }}</td>
    </ng-container>

    <ng-container matColumnDef="answer">
        <th mat-header-cell *matHeaderCellDef>Answer</th>
        <td *matCellDef="let element" mat-cell>
            <mat-select (selectionChange)="updateAnswer(element, $event)">
                @for (answer of element.answers; track answer) {
                    <mat-option [value]="answer">{{ answer }}</mat-option>
                }
            </mat-select>

        </td>
    </ng-container>

    <ng-container matColumnDef="correct">
        <th mat-header-cell *matHeaderCellDef> Correct?</th>
        <td mat-cell *matCellDef="let element">
            @if (checks().has(element.question)) {
                {{checks().get(element.question)}}
            }


        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef=" ['question', 'answer', 'correct']"></tr>
    <tr mat-row *matRowDef="let _; columns: ['question', 'answer', 'correct'];"></tr>
</table>

