:host {
  width: 100%;
}

.mat-column-question {
  max-width: 300px;
}

td.mat-column-correct {
  text-align: center;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.unknown {
  color: orange;
}
