:host {
  width: 100%;
}
table {
  table-layout: fixed;
}
.mat-column-question {
  min-width: 300px;
  max-width: 300px;
}

.mat-column-answer {
  min-width: 150px;
  max-width: 150px;
}

.mat-column-correct {
  min-width: 100px;
  max-width: 100px;
}

.check-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.unknown {
  color: orange;
}
